@import "tailwindcss";

@theme {
  --color-primary: #0052cc;
  --color-secondary: #003d99;
  --color-background-dark: #ffffff;
  --color-background-light: #ffffff;
  --color-surface-dark: #ffffff;
  --color-surface-light: #ffffff;
}

@layer base {
  body {
    @apply bg-white text-black transition-all duration-300;
  }
  
  html.dark {
    filter: invert(1) hue-rotate(180deg);
    background-color: #111;
  }

  html.dark img, 
  html.dark video,
  html.dark .keep-original {
    filter: invert(1) hue-rotate(180deg);
  }
}

.glass-panel {
  @apply bg-white border border-blue-100 shadow-sm;
}
